{
 ;; OAuth configuration
 :github-client-config
 {:client-id ""
  :client-secret ""
  :callback {:domain "http://localhost:3000" :path "/oauth2callback.github"}}

 :github-urls
 {:authentication-url "https://github.com/login/oauth/authorize"
  :access-token-url "https://github.com/login/oauth/access_token"}

 :google-client-config
 {:client-id ""
  :client-secret ""
  :callback {:domain "http://localhost:3000" :path "/oauth2callback"}}

 :google-urls
 {:authentication-url "https://accounts.google.com/o/oauth2/auth"
  :access-token-url "https://accounts.google.com/o/oauth2/token"}

 ;; Datastore configuration
 :neo4j
 {:url "http://localhost:7474/db/data"
  :login ""
  :password ""}

 :es
 {:url "http://127.0.0.1:9200"}

 ;; Data for new user
 :new-user-first-entry
 {:link "https://github.com/gsnewmark/urdar"}
}
