<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Urdar Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src='/js/bootstrap.js'></script>
    <div class="modal hide" id="login" data-keyboard="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <a href="/login-github" class="btn btn-large btn-block">
          <i class="icon-github-sign icon-large"></i>
          Sign in with GitHub
        </a>
        <a href="/login-google" class="btn btn-large btn-block">
          <i class="icon-google-plus-sign icon-large"></i>
          Sign in with Google
        </a>
      </div>
    </div>
    <div class="hero-unit">
      <h1 class="text-center">Yet Another Bookmark Organizer</h1>
      <div class="row text-center">
        <a class="btn btn-large btn-primary"
           data-toggle="modal" href="#login">
          Sign in
        </a>
      </div>
      <hr>
      <div class="row text-center">
        <img src="/img/urdar.png" class="img-rounded">
      </div>
    </div>
  </body>
</html>
