<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Urdar Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/urdar.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4 offset4 well">
          <a href="/login-github" class="btn btn-large btn-block">
            <i class="icon-github-sign icon-large"></i>
            Sign in with Github
          </a>
          <a href="/login-google" class="btn btn-large btn-block">
            <i class="icon-google-plus-sign icon-large"></i>
            Sign in with Google
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
