<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Urdar Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/urdar.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4 offset4 well">
          <a href="/login-github" class="btn btn-inverse btn-large btn-block">
            Sign in with Github
          </a>
          <a href="/login-google" class="btn btn-inverse btn-large btn-block">
            Sign in with Google
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
