<!DOCTYPE html>
<head>
  <title>Urdar Login Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="row">
  <div class="large-3 large-centered columns">
    <div class="panel radius">
      <div class="row">
        <div class="small columns">
          <a href="/login-github" class="radius button">Login with Github</a>
        </div>
      </div>
      <div class="row">
        <div class="small columns">
          <a href="/login-google" class="radius button">Login with Google</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
